*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
   .Container{
     background-image:url("images/Imagecampus.jpg");
     background-repeat:space;
     height:100vh;
     width:100%;
     background-attachment:fixed;
     background-size: 100%;
   }
   img{
     margin: top 0px left 0px;
     width:60%;
     padding: 0px 0px 0px 0px;
     height:30%;
   }
     
   .col-md-4{
     text-align:center;
     offset-position: left 10px ;
     color: brown;
     width:20%;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
     font-weight: 500px;
     font-size: 100%;
     flex-direction: left;
   }
   