*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
   .Container{
     background-image:url("images/Imagecampus.jpg");
     background-repeat:space;
     height:100vh;
     width:100%;
     background-attachment:fixed;
     background: position 100%;
     background-size: 100%;
   }
   img{
     margin: top 0px left 0px;
     width:20%;
     padding: 0px 0px 0px 0px;
   }
   a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-weight: 500px;
    color:brown;
   }
     
   .col-md-4{
     text-align:center;
     background-color:#f2f2f2;
     width:50%;
     height:100%;
     align-items: center;
     padding: top 20px;
   }
   .header{
    background:rgb(78, 76, 76);
  position: fixed;
  width: 110%;
}
  .header nav{
    position: relative;
    display: flex;
    max-width: calc(100% - 200px);
    margin: auto;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}
  nav .content{
  display: flex;
  align-items: center;
}
nav .content .links{
  margin-left: 80px;
  display: flex;
}
.content .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  list-style:none;
  text-decoration: none;
}
.content .links li{
  list-style: none;
  line-height: 70px;
  text-decoration: none;
}
.content .links li a,
.content .links li label{
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
  text-decoration: none;
}
.content .links li label{
  display: none;
  text-decoration: none;
}
.content .links li a:hover,
.content .links li label:hover{
  background: #323c4e;
}
.header .search-icon,
.header .menu-icon{
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align:left;
}
.header .menu-icon{
  display: inside;
}
.header #show-search:checked ~ .search-icon i::before{
  content: "\f00d";
}
.header .search-box{
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.header #show-search:checked ~ .search-box{
  opacity: 1;
  pointer-events: auto;
}
.search-box input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: #fff;
  background: gray;
  padding: 0 100px 0 15px;
}
.search-box input::placeholder{
  color: #f2f2f2;
}
.search-box .go-icon{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 70px;
  background: gray;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.header input[type="checkbox"]{
  display: none;
}
/* Dropdown Menu code start */
.content .links ul{
  position: absolute;
  background: gray;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  text-decoration: none;
}
.content .links li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.content .links ul li a{
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px!important;
  text-decoration: none;
}
.content .links ul ul{
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
.content .links ul li{
  position: relative;
}
.content .links ul li:hover ul{
  top: 0;
}
/* Responsive code start */
@media screen and (max-width: 1250px){
  .header nav{
    width: 100%;
    padding: 10px 20px;
  }
  nav .content .links{
    margin-left: 30px;
  }
  .content .links li a{
    padding: 8px 13px;
  }
  .header .search-box{
   margin: right 1em;
  }
  .header .search-box input{
    padding: 0 100px 0 15px;
  }
}
@media screen and (max-width: 900px){
  .header .menu-icon{
    display: block;
  }
  .header #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }
  nav .content .links{
    display: block;
    position: fixed;
    background: #14181f;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked  .content .links{
    left: 0%;
  }
  .content .links li{
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link{
    display: none;
  }
  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-features:checked ~ ul,
  .content .links #show-services:checked ~ ul,
  .content .links #show-items:checked ~ ul{
    max-height: 100vh;
  }
  .content .links ul li{
    margin: 7px 20px;
  }
  .content .links ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  }
}
@media screen and (max-width: 400px){
  .header nav{
    padding: 0 10px;
  }
  .content .logo a{
    font-size: 27px;
  }
  .header .search-box{
    max-width: calc(100% - 70px);
  }
  .header .search-box .go-icon{
    width: 30px;
    right: 0;
  }
  .header .search-box input{
    padding-right: 30px;
  }
}
.dummy-text{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  z-index: -1;
  padding: 0 20px;
  text-align: center;
  transform: translate(-50%, -50%);
}
.dummy-text h2{
  font-size: 45px;
  margin: 5px 0;
}